.navbar {
  grid-template-columns: 1fr auto;
  align-items: center;
  background: var(
    --gradient,
    linear-gradient(180deg, #6b7aff 0%, rgba(147, 62, 255, 0.5) 100%)
  );
}

.right {
  margin-left: auto;
}
.addButton {
  border-radius: 20px !important;
}

.collapsedContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  margin-top: 10px;
  height: 1px;
  background-color: grey;
}
@media (max-width: 767px) {
  .addButton {
    margin-top: 10px;
  }
}
