.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.clicked {
  background-color: green;
}

.default {
  background-color: gray;
}

.customToggle::after {
  display: none !important;
}

.customToggle {
  border: none;
  width: "100%";
  border-left: 2px solid;
  border-radius: 5%;
  background-color: white !important  ;
  color: black;
  width: 200px;
  text-align: start !important;
}

.customToggle:hover {
  color: black;
}

.customMenu {
  padding: 0;
}
